# Set default behavior to automatically normalize line endings.
* text=auto

# Arduino source code
*.ino text eol=lf

# Documents
*.pdf filter=lfs diff=lfs merge=lfs -text

# Images
*.png filter=lfs diff=lfs merge=lfs -text
